In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
period=input(r'pls enter period analysis: w/m/q')

pls enter period analysis: w/m/qm

In [16]:
if period=='q':
    path1 = 'R:/Operations/QA/Yield Analysis/ww yield analysis1.txt'
    path2 = 'R:/Operations/QA/Yield Analysis/ww yield analysis2.txt'
    path3 = 'R:/Operations/QA/Yield Analysis/ww yield analysis3.txt'

    df1=pd.DataFrame([line.split('\t') for line in open(path1)])
    df2=pd.DataFrame([line.split('\t') for line in open(path2)])
    df3=pd.DataFrame([line.split('\t') for line in open(path3)])

    df1.columns = df1.iloc[3]
    df1 = df1.iloc[4:]
    df2.columns = df2.iloc[3]
    df2 = df2.iloc[4:]
    df3.columns = df3.iloc[3]
    df3 = df3.iloc[4:]

    df = pd.concat([df1,df2,df3])
else:
    #path = 'R:/Operations/QA/Yield Analysis/ww yield analysis.csv'
    path = 'R:/Operations/QA/Yield Analysis/ww yield analysis.txt'

    #for CSV file
    #df = pd.read_csv(path, header=3)

    #for text file
    df=pd.DataFrame([line.split('\t') for line in open(path)])
    df.columns = df.iloc[3]
    df = df.iloc[4:]

In [4]:
#prod_path='R:/Operations/QA/Yield Analysis/Scripts/Product family.csv'
#prod_dict=pd.read_csv(prod_path, header=None, index_col=0,squeeze=True).to_dict()

# Yield for Site 1 (Radwin?)

In [17]:
df_site1=df[(df['Site']=='1')]
df_site3=df[(df['Site']=='3')]
df_site4=df[(df['Site']=='4')]

In [18]:
df_site3.to_csv('R:/Operations/QA/Yield Analysis/Scripts/Venture Raw Data.csv')

In [19]:
Results_site1=[]
for st in df_site1['Station'].unique():
    df_st=df_site1[(df_site1['Station']==st)]
    for pn in df_st['PN'].unique():
        df_st_pn=df_st[(df_st['PN']==pn)]
        total_pass=0
        units=0
        first_units=0
        first_units_pass=0
        for sn in df_st_pn['SN'].unique():
            df_st_pn_sn=df_st_pn[(df_st_pn['SN']==sn)]
            if (len(df_st_pn_sn['Test ID'].unique())==1)&(df_st_pn_sn['Result'].unique()[0]=='pass'):
                total_pass+=1
                units+=1
            else:
                if 'pass' in df_st_pn_sn['Result'].unique():
                    total_pass+=1
                    units+=1
                else:
                    units+=1
            # the below counter is to count number of units that this week meet the ATE at the first time
            if (('1' in df_st_pn_sn['seq'].unique())&(df_st_pn_sn['Result'].unique()[0]=='pass')):
                first_units_pass+=1
                first_units+=1
            elif ('1' in df_st_pn_sn['seq'].unique()):
                first_units+=1
            
                
        Results_site1.append([st,pn,first_units,first_units_pass,units,total_pass])

# Yield for Site 3

In [20]:
Results_site3=[]
for st in df_site3['Station'].unique():
    df_st=df_site3[(df_site3['Station']==st)]
    for pn in df_st['PN'].unique():
        df_st_pn=df_st[(df_st['PN']==pn)]
        total_pass=0
        units=0
        first_units=0
        first_units_pass=0
        for sn in df_st_pn['SN'].unique():
            df_st_pn_sn=df_st_pn[(df_st_pn['SN']==sn)]
            if (len(df_st_pn_sn['Test ID'].unique())==1)&(df_st_pn_sn['Result'].unique()[0]=='pass'):
                total_pass+=1
                units+=1
            else:
                if 'pass' in df_st_pn_sn['Result'].unique():
                    total_pass+=1
                    units+=1
                else:
                    units+=1
                    
        # the below counter is to count number of units that this week meet the ATE at the first time
            if (('1' in df_st_pn_sn['seq'].unique())&(df_st_pn_sn['Result'].unique()[0]=='pass')):
                first_units_pass+=1
                first_units+=1
            elif ('1' in df_st_pn_sn['seq'].unique()):
                first_units+=1
            
                
        Results_site3.append([st,pn,first_units,first_units_pass,units,total_pass])

# Yield for Site 4

In [21]:
Results_site4=[]
for st in df_site4['Station'].unique():
    df_st=df_site4[(df_site4['Station']==st)]
    for pn in df_st['PN'].unique():
        df_st_pn=df_st[(df_st['PN']==pn)]
        total_pass=0
        units=0
        first_units=0
        first_units_pass=0
        for sn in df_st_pn['SN'].unique():
            df_st_pn_sn=df_st_pn[(df_st_pn['SN']==sn)]
            if (len(df_st_pn_sn['Test ID'].unique())==1)&(df_st_pn_sn['Result'].unique()[0]=='pass'):
                total_pass+=1
                units+=1
            else:
                if 'pass' in df_st_pn_sn['Result'].unique():
                    total_pass+=1
                    units+=1
                else:
                    units+=1
                    
             # the below counter is to count number of units that this week meet the ATE at the first time
            if (('1' in df_st_pn_sn['seq'].unique())&(df_st_pn_sn['Result'].unique()[0]=='pass')):
                first_units_pass+=1
                first_units+=1
            elif ('1' in df_st_pn_sn['seq'].unique()):
                first_units+=1
            
                
        Results_site4.append([st,pn,first_units,first_units_pass,units,total_pass])

# Preparing the Final DataFrames

In [22]:
df_results_site1=pd.DataFrame(Results_site1,columns=['Station','PN','FTY Total Units','First Pass Units','Total Units','Total Pass Units'])
df_results_site3=pd.DataFrame(Results_site3,columns=['Station','PN','FTY Total Units','First Pass Units','Total Units','Total Pass Units'])
df_results_site4=pd.DataFrame(Results_site4,columns=['Station','PN','FTY Total Units','First Pass Units','Total Units','Total Pass Units'])

In [23]:
df_results_site1['Site']='Radwin (1)'
df_results_site1['FTY']=df_results_site1['First Pass Units']/df_results_site1['FTY Total Units']*100
df_results_site1['Yield']=df_results_site1['Total Pass Units']/df_results_site1['Total Units']*100
df_results_site1['NFF']=100*(df_results_site1['Total Pass Units']-df_results_site1['First Pass Units'])/df_results_site1['Total Units']

In [24]:
df_results_site3['Site']='Venture (3)'
df_results_site3['FTY']=df_results_site3['First Pass Units']/df_results_site3['FTY Total Units']*100
df_results_site3['Yield']=df_results_site3['Total Pass Units']/df_results_site3['Total Units']*100
df_results_site3['NFF']=100*(df_results_site3['Total Pass Units']-df_results_site3['First Pass Units'])/df_results_site3['Total Units']

In [25]:
df_results_site4['Site']='RH (4)'
df_results_site4['FTY']=df_results_site4['First Pass Units']/df_results_site4['Total Units']*100
df_results_site4['Yield']=df_results_site4['Total Pass Units']/df_results_site4['Total Units']*100
df_results_site4['NFF']=100*(df_results_site4['Total Pass Units']-df_results_site4['First Pass Units'])/df_results_site4['Total Units']

In [26]:
df_results = pd.concat([df_results_site1,df_results_site3,df_results_site4])
df_results=df_results.set_index(['Site'])

In [30]:
df_results.to_csv('R:/Operations/QA/Yield Analysis/Yield Analysis Results_%s.csv' %timestr)
df_results.to_html('R:/Operations/QA/Yield Analysis/Yield Analysis Results_%s.html' %timestr)